.card {
	font-family: arial;
	font-size: 20px;
	color: black;
	background-color: white;
	text-align: left;
}

.reroll {
	font-size: 20px;
}

.nightMode a {
  color: lightskyblue;
}

.mobile .reroll {
	font-size: 32px;
}

.container {
	text-align: center;
}

.win .btn-container,
.mac .btn-container,
.linux .btn-container {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
}

.android .btn-container {
	bottom: 10%;
}

.iphone .btn-container,
.ipad .btn-container {
	margin-top: 100px;
}

#front-img-w-txt img {
	max-width: 100%;
	max-height: 78vh;
	display: block;
	margin-top: 32px;
}

.android #front-img-w-txt img {
	max-height: 72vh;
}

.type {
	text-align: center;
	width: 0;
	min-width: 100%;
	min-height: 20pt;
}

.credit {
	color: gray;
	font-size: 8px;
	text-align: right;
}

.credit a {
	color: inherit;
	text-decoration: underline;
}

.img-w-txt {
	display: inline-block;
}

p {
	line-height: 1.3;
}

sup {
	vertical-align: top;
	font-size: 0.6em;
}

.back .img-w-txt img {
	max-height: 250px;
	max-width: 100%;
	display: block;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wrapper > div {
	margin: 10px;
}

.wrapper > .img-w-txt {
	margin-top: auto;
}

.img-wrapper {
	margin-top: 10px;
}

.title {
	font-size: 40px;
	text-align: center;
}

.small-txt {
	font-size: 16px;
	margin-top: 2px;
}